{% extends 'index.html' %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}


{% block content %}
<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .main-container {
    width: 82%; /* Move the div to the right by 30% */
    margin-left: 18%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    text-align: center; /* Center the "Actions" header */
  }
  .text-center {
    text-align: center;
  }
  {% comment %} .btn-accept {
    background-color: #28a745;
    color: white;
  }
  .btn-reject {
    background-color: #dc3545;
    color: white;
  } {% endcomment %}
</style>
<div class="main-container">
    <div class="flex justify-between mx-12 pt-6">
        <h1 class="font-bold text-red-600">
            you are not authorized to make this change
        </h1>
        {% comment %} <h3 class="font-bold">
            You can continue only after being verified
        </h3> {% endcomment %}
    </div>
</div>



{% endblock content %}
